<html>
    <body>
        <div>
            <b>Alta de sancion realizada correctamente</b><br/><br/>
            Id de preexpediente: {{ idpreexp }}<br/>
            Fecha de notificacion: {{ fechanotif }}<br/>
            Fecha de alta: {{ fechaalta }}<br/>
        </div>
    </body>
</html>